*.pyc
*.pyo
*.egg-info
.coverage
*.cover
__pycache__
.cache
.eggs
.hypothesis
.tox
.idea
build
.mypy_cache
.pytest_cache
htmlcov
venv
docs/_build
*.so
!galini/sdp/NNs.so
galini/core/*.c
galini/core/*.html
.cquery_cached_index
compile_commands.json
compile.log
dist
site/
Dockerfile
/docs/_build/